.titulo {
  margin: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo_a {
  font-size: 24px;
  color: #96c7c1;
  text-decoration: none;
}
.boxes {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4;
}
.box {
  background-image: url("../../src/img/quizz.png");
  width: 45%;
  margin: 8px;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
  box-shadow: 2px 5px #aaa;
}
.box .box-content {
  margin: 16px;
  line-height: 1.5;
}
