.box-SearchFiltros {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  margin: 2px;
  width: 60%;
}
.inputSearch {
  width: 75%;
  outline: none;
  border: none;
  padding: 2px 25px;
  background: #f4f5fa;
}
.icon-search {
  position: absolute;
  left: 0;
  top: 5px;
  padding: 2px;
  font-size: 28px;
}
::placeholder {
  padding-left: 10px;
}
.btnFiltros {
  width: 90px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  padding: 4px;
}
