main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & .slider{
        width: 100%;
        max-width: 790px;
    }
    & .location{
        width: 379px;
        max-width: 100%;
    }
}