/*variables globales */
*{
	padding: 0;
	margin:0;
	font-family: Arial;
}

/*nav*/
header{
	background: #00AF1C;
	color:#ffffff;
	margin: 0;
}
header nav  {
	display: flex;
	justify-content: space-between;
}
header nav  ul {
	 display: flex;
}

header nav ul {
	list-style:none;
}

header nav ul li{
	padding-right: 10px;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
}
/* section */
main section {
	margin: 66px 40px;
}
main section ul{
	margin-top: 50px;
}
main section ul li {
	padding: 5px;
	margin-left: 49px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 44px;
}

/* h2 */

header nav h2{
	font-family: Arial;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 37px;
	padding: 30px 0 32px 32px;
}

.home h2 ,
.service h2,
.briefcase h2 ,
.contact h2 ,
footer {
	font-family: Arial;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	padding-bottom: 16px;
 }
/* img */

img{
	margin: 33px  13px 0;
}

/* HOME*/

.home h2{
	color:#3B06D2;
}

/* SERVICIO */

.service h2{
	color: #D206B2;
}

/* PORTAFOLIO */

.briefcase h2{
	color: #AAD206;
	
}

/* CONTACTO */
.contact h2{
	color: #06D2C6;
}
.contact input{
	display:block;
	box-sizing: border-box;
}

.contact input[type="text"]{
	margin-top: 13px;
	width: 100%;
	padding: 34px  0 28px 26px;
	padding-right: 
	margin-left:38px;
	margin-right: 62px;
}
.contact textarea {
	margin-top: 40px;
	width: 100%;
	padding: 20px 0 169px 25px;
}
.contact input[type="submit"]{
	margin-top: 37px;
	color: #22A900;
	padding: 24px 66px;

}

/*footer*/
footer{
	margin-top: 270px;
	display: flex;
	background: #00AF1C;
	color: #ffffff;
	justify-content: space-between;
	padding: 35px;
	padding-bottom: 19px;


}
