/* FONT  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
	font-size:40px;
	letter-spacing: 0em;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}
header, 
main{
	width: 100%;
}
header,
nav ul{
	display: flex;
	justify-content: space-between;
}
h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 42px;
	color: #0098EF;
	margin-bottom: 30px;
}

/* nav*/
.nav-ul li{
	list-style: none;
	font-size: 24px;
	font-weight: 500;
	line-height: 16px;
	margin-right: 20px;
}
.nav-ul a{
	text-decoration: none;
	color: #242A59;
}
.nav-ul a: active{
	text-decoration: underline;
	color: #a569e4;
}
.nav-ul a:hover{
	color: #10d29b;
}

/*COVERPAGE*/
.CoverPage {
	width: 100%;
	padding: 106px 150px 50px 150px;
	display: flex;
}
.Part_1,
.Part_2{
	width: 50%;
}
.Part_1 .p1{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0em;
}
.Part_1  h4{
	font-family: 'Poppins', sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}
.Part_1 h1{
	font-family: 'Roboto';
	font-size: 38px;
	font-weight: 600;
	line-height: 60px;
	color: #47dcb3;
}
.Part_1 .p2{
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.Part_1 button{
	padding: 10px 40px;
	background-color: #6D0AD3;
	border-style: none;
	border-radius: 8px;
	color: #ffffff;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

/*  ----   */
.Briefcase,
.Service,
.Blog,
.Contact {
	width: 100%;
	padding: 0 100px 50px 100px;
}
.Briefcase-wrap,
.Service-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}
/*  ----   */

/*PORTAFOLIO*/
/*
.Briefcase-wrap{
	/*display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 10px;
}*/
.Briefcase .img-web-app,
.Briefcase img{
	max-height: 220px;
	max-width: 224px;
	margin: 0 28px 20px 0;
	border-radius: 8px;
}

.Briefcase .img-web-app{
	position: relative;
	background-image: url(../images/Rectangle4.png);
	background-repeat: no-repeat;
	width: 100%;
}
.Briefcase .web_app{
  border-radius: 8px;
	margin: 20px;
	padding: 5px;
	background: rgba(109, 10, 211, 0.8);
	position: absolute;
	top: 0;
	left: 0;
}
.web_app h3{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #E0E0E0;
}
.web_app p{
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	color: #E0E0E0;
}
.etq{
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
}
.etq p{
	background: rgba(209, 255, 162, 1);
	padding: 5px 8px;
  margin: 3px;
	border-radius: 8px;
	color: #000000;
	font-size: 11px;
	font-weight: 600;
	line-height: 24px;
}

/*SERVICIOS*/
.Service-wrap{
	display: flex;
	flex-wrap: wrap;
	padding: 0 99px;
}
.Service-wrap div{
	background: rgba(0, 207, 149, 1);
	min-width: 308px;
	min-height: 218px;
	margin: 0 28px 20px 0;
	border: 7px solid #d1ffa2;
	border-radius: 8px;
	position: relative;
}
.Service-wrap div p{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
 	color: #5A0CB0;
	padding: 10px 35px 10px 46px;
	background: #d1ffa2;
	position: absolute;
	right: 0;
	top: 50%;
	border-radius: 8px 0 0 8px;
}
.Service-wrap div img{
	margin: 20px
}
.Service-wrap div:hover{
	border: 7px solid #5A0CB0;
}
.Service-wrap div p:hover{
	background: #5A0CB0;;
	color: #ffffff;
}

/* BLOG */
.Blog-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Blog-flex p,
.Blog-flex a{
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	padding: 5px 12px;
}

.Blog-flex h5{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	padding: 5px 15px;
	margin: 2px 0;
	border-left: 4px solid #C4C4C4;
}
.bloq-2 .bloq-2-flex{
		display: flex;
}
.bloq-1,
.bloq-2,
.bloq-3{
	width: 350px;
	margin: 5px;
}
.bloq-1 img ,
.bloq-3 img {
	margin-bottom: 5px;
	margin-left: 5px;
}
.bloq-2 img {
	margin: 3px 5px;
}
.bloq-3 button{
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;	
	background: #6D0AD3;
	padding: 15px 18px;
	border-radius: 0 8px 8px 0;
	border: none;
}

/* CONTACTO  */
.contact-grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

}.contact-grid select,
.contact-grid input{
	padding: 15px;
	margin: 5px;
	border-radius: 8px;
}
.Contact textarea{
	margin: 5px;
	padding: 15px;
	border-radius: 8px;
	width: 100%;
}
.button{
		display: flex;
	justify-content: center;
}
.button input{
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	background: #6D0AD3;
	padding: 10px 15px;
	border:  none;
	border-radius: 8px;
	color: #ffffff;
}
.contact-grid input:hover,
.Contact textarea:hover,
.contact-grid select:hover{
	border: 1px solid #10d29b;
}
.contact-grid input:sele,
.Contact textarea:focus,
.contact-grid select:focus{
	border: 1px solid #6D0AD3;
}

.button input:hover{
	background: #10d29b;
}

/* FOOTER */
.footer h3{
	font-size: 28px;
	font-weight: 500;
	line-height: 35px;
	text-align: center;
	color: #00CF95;
}
.footer .nav-ul{
	display: flex;
	justify-content: center;
}
.footer li {
	padding: 10px 10px;
}