.slider__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px;
    margin: 32px 0;
    box-shadow: 2px 5px 4px rgba(8, 8,8, 0.5);
    border-radius: 4px;
    background: #ffffff;
    & > div{
        display: flex;
        align-items: flex-end;
        & p ,
          h3,
          h5{
            color: #334680;
            font-family: $font-roboto;
            padding: 8px 0;
        }
        & p,
          h5 {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
        }
        & h3{
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
        }
        & h5{
            display: inline;
            padding: 6px 8px ;
            border: 1px solid #334680;
            border-radius: 4px;
        }
    }
    &__5{
        align-items: flex-start;
    }
    & .box__icon{
        display: flex;
        align-items: center;
        padding-left:28px ;
        color: #B9BDCF;
        margin-top: 5px;
        & .icon {
            padding-right: 3px;
        }
    }
}

.slider__menu{
    display: flex;
    & li{
        list-style: none;
        padding: 11px;
        border: 1px solid #1E86FF;
        border-radius: 4px;
        margin: 5px;
    }
    & a{
        text-decoration: none;
    }
    & li:hover{
        background: #1E86FF;
    }
}