.h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: medium;
  color: #23233b;
}
.h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.titulo {
  margin: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo_a {
  font-size: 24px;
  color: #96c7c1;
  text-decoration: none;
}
.boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_a {
  position: relative;
  width:80%;
  background-image: url("../img/quiz.png");
  margin: 8px;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
  box-shadow: 2px 5px #aaa;
  text-decoration: none;
  color: black;
}
.box_a:hover {
  box-shadow: 2px 5px #96c7c1;
}

.box-content {
  margin: 16px;
  line-height: 1.5;
}

